@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap");

body {
  background: #d1a686;
  background: #e9eff0;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  background: transparent;
  color: bisque;
}

nav {
  padding: 0 !important;
  background: white;
}

.contenedor__sabores {
  background: #d1a686;
  border-radius: 5px;
}

p {
  font-family: "Roboto", sans-serif;
  color: #e9eff0;
  font-size: 1.1em;
  line-height: 1.2em;
  backdrop-filter: blur(8px);
  margin-top: 12px;
}

.carousel-item {
  max-height: 800px;
}

#sabores {
  background: #e9eff0;
  margin-top: 100px;
}

.img-thumbnail {
  background: url("/images/brick-wall.jpg");
  backdrop-filter: blur(15px);
  background-size: contain;
}

.btn-pink {
  background-color: rgb(100, 82, 91);
  color: white;
}

#botonera img {
  width: 120px;
}
.ns-sabores {
  color: #5cc8d6;
}
.empanadas-sabores {
  color: #d6762e;
}

#botonera ul li a {
  font-family: "Roboto", sans-serif;
}
@media (min-width: 768px) {
  #botonera img {
    width: 200px;
  }
}
