.hero-banner {
    background: url("../images/headers/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    .hero-title {
        font-family: "Quicksand", sans-serif;
        font-weight: 300;
        position: absolute;
        bottom: 15%;
        width: 100%;
        background: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        font-size: 2.5rem;
        padding: 15px 50px;
        text-align: center;
        z-index: 2;
        color: #000000;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        text-shadow: 2px 2px 5px #eae3e3;
    }
}

.ns-shop {
    margin-top: 70px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: rgb(197, 177, 0);
    text-decoration: underline;
    text-decoration-color: #1b1b1b;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.1);
    padding: 25px 0;
}

.contenedor__vinyls {
    border-radius: 5px;
    text-decoration-color: #5cc8d6;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.1);
    padding: 50px;

    .album-vinyl-heading {
        color: #d6762e;
    }

}

.search-bar {
    width: 50%;
}

.img-thumbnail {
    background: url("../images/wood-bg.jpg");
    backdrop-filter: blur(15px);
    background-size: contain;
}


//----------------------------------ANIMACION CARGA DE PRODUCTOS Y LIVE SEARCH
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #c5b100 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}